/* 
================== Fonts ======================

font-family: 'Abel', sans-serif;
font-family: 'Alex Brush', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Charmonman', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lavishly Yours', cursive;
font-family: 'MonteCarlo', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Parisienne', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rouge Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tangerine', cursive;
*/
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Alex+Brush&family=Beau+Rivage&family=Charmonman:wght@400;700&family=Great+Vibes&family=Julius+Sans+One&family=Lavishly+Yours&family=MonteCarlo&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Parisienne&family=Rajdhani:wght@300;400;500;600;700&family=Rouge+Script&family=Sacramento&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Tangerine:wght@400;700&display=swap");

/* ===================== Variable CSS ======================== */

:root {
  /*--------------------- Colors ---------------------------*/
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-90: #e9e2ff;
  --bg-black-50: #e8dfec;
  --text-black-1100: #261b3c;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  /* --container-color: ; */
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(282, 25%, 90%);

  /*--------------------- Fonts & typo ---------------------------*/
  --small-font-size: 1rem;
  --h2-font-size: 1.75rem;
  --weight-600: 600;
  --weight-400: 400;

  /*--------------------- Border radius ---------------------------*/
  --radius: 0.5rem;

  /*--------------------- Transition ---------------------------*/
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /*--------------------- Z index ---------------------------*/
  --z-tooltip: 10;
}

/*--------------------- Reponsive typo ---------------------------*/
@media screen and (max-width: 992px) {
  :root {
    --small-font-size: 1rem;
    --h2-font-size: 1.75rem;
    --weight-600: 600;
    --weight-400: 400;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* ======== Cacher ========= */
.hidden {
  display: none !important;
}
/* ======== Cacher ========= */

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

/* -------------- About section ------------------ */

.section .container {
  padding-top: 60px;
  padding-bottom: 50px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

/* -------------- About section ------------------ */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.cv {
  margin-right: 1rem;
}

.btn:hover {
  transform: scale(1.05);
  background-color: white;
  color: var(--skin-color);
  border: 1.5px solid var(--skin-color);
}

.dark-shadow {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* --- aside --- */

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

/* -------------- Logo menu Aside ------------------ */

.aside .logo .right {
  font-size: 3.1rem;
  font-family: "Rouge Script", cursive;
}

.aside .logo a {
  color: var(--text-black-900);
}

.aside .logo a span {
  color: var(--skin-color);
  margin-left: 5px;
  font-size: 3.1rem;
  font-family: "Rouge Script", cursive;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
}

/* -------------- Logo menu Aside ------------------ */

/* -------------- Menu Aside ------------------ */
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 20px;
}

/* -------------- Menu Aside ------------------ */

/* --- Home --- */

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
  background-color: white;
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: "Rouge Script", cursive;
  font-size: 70px;
  font-weight: 500;
  color: var(--skin-color);
}

h3.hello span.tiny {
  font-size: 45px;
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 17px;
  color: var(--text-black-700);
}

/* -------------- Img home ------------------ */

.home .img-home {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.home .img-home img {
  background-size: cover;
  background-position: center center;
  animation: animate 7s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Bordure btn right and top left */

/* .img-home::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
} */

/* Bordure top right and btn left */

/* .img-home::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 20px;
  top: -40px;
} */

.home .img-home img {
  margin: auto;
  height: 400px;
}

/* -------------- Img home ------------------ */

/* --- about --- */

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content h4 {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--text-black-900);
}

/* -------------- Personal info ------------------ */
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
/* -------------- Personal info ------------------ */

/* -------------- Buttons Personal info ------------------ */

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-top: 10px;
}

/* -------------- Buttons Personal info ------------------ */

/* -------------- Skill ------------------ */

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.padd-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.about .about-content .skills .skill-item {
  flex: 25%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.about .about-content .skills .skill-item img {
  height: 45px;
  margin-bottom: -5px;
}

.about .about-content .skills .skill-item h5 {
  line-height: 30px;
  font-weight: 500;
  font-size: 15px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

/* -------------- Skill ------------------ */

/* -------------- Parcourt ------------------ */

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  padding: 30px 15px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.marg-5 {
  font-size: 12px;
  margin-left: 5px;
}

.timeline-title small {
  font-size: 14px;
  margin-right: 3px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-text {
  margin-top: 7px;
  width: 90%;
  line-height: 20px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

/* -------------- Parcourt ------------------ */

/* --- services --- */
.service {
  background-color: white;
}

.service .container {
  padding-bottom: 40px;
}

.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.section .row-service-centre {
  justify-content: center;
}

.service .service-item .service-item-inner {
  background: var(--bg-black-900);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: white;
}

.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}

/* --- portfolio --- */

.portfolio {
  background: var(--bg-black-900);
}

.portfolio .container {
  padding-bottom: 40px;
}

.portfolio-container {
  grid-template-columns: repeat(3, 1fr);
}

.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

/* --------------------- Portfolio Item -------------------------- */

.padd-15-mix {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .portfolio-item {
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}

.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-900);
  border-radius: 10px;
  cursor: pointer;
}

.portfolio img {
  vertical-align: middle;
  transition: all 1.5s var(--transition);
}

.portfolio .portfolio-item-inner img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.portfolio-item-inner::after,
.portfolio-data {
  position: absolute;
  transition: all 0.85s var(--transition);
}

.portfolio-item-inner::after {
  content: "";
  inset: 0;
  background: linear-gradient(180deg, transparent, var(--text-black-900));
  opacity: 0;
}

.portfolio-data {
  inset-inline: 2rem;
  bottom: 2rem;
  color: white;
  text-align: center;
  z-index: var(--z-tooltip);
}

.portfolio-subtitle,
.portfolio-description {
  color: var(--title-color);
  opacity: 0.9;
}

.portfolio-subtitle {
  font-size: var(--small-font-size);
  display: none;
}

.portfolio-title {
  font-size: var(--h2-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 1.2rem;
  display: none;
}

.portfolio-description {
  font-size: 15px;
  font-weight: var(--weight-400);
  display: none;
}

.portfolio-description .btn-more {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1.5rem;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn-more a {
  color: white;
}

/* --------- HOVER --------- */

.portfolio-item-inner:hover::after {
  opacity: 1;
}

.portfolio-item:hover img {
  transform: scale(1.1);
  opacity: 1;
}

.portfolio-item:hover .portfolio-subtitle {
  color: var(--skin-color);
}

.portfolio-item:hover .dark {
  opacity: 1;
  color: var(--text-black-1100);
}

.portfolio-item:hover .portfolio-description {
  opacity: 1;
  display: block;
}
.portfolio-item:hover .portfolio-subtitle {
  opacity: 1;
  display: block;
}
.portfolio-item:hover .portfolio-title {
  display: block;
}

.portfolio-item:hover .portfolio-data {
  transform: translateY(-2rem);
}

.btn-more:hover {
  background-color: white;
  color: var(--skin-color);
}

/* --------------------- Portfolio Item -------------------------- */

/* --- contact --- */

.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
.contact {
  color: var(--text-black-900);
  background-color: white;
}
.contact .content-img-info {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
}

.contact .img-contact {
  flex: 0 0 55%;
  max-width: 55%;
  align-items: center;
  justify-content: center;
}

.contact .contact-info {
  flex: 0 0 45%;
  max-width: 45%;
  padding-top: 45px;
  align-items: center;
  justify-content: center;
}

.contact .contact-info-item {
  text-align: center;
  padding: 15px 0;
}

.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  columns: var(--text-black-900);
  font-weight: 400;
}

/* ============================ RESPPONSIVE =================================== */

@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }

  .aside {
    left: -270px;
  }

  .aside.open {
    left: 0;
  }

  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  /* Bordure top left and btn right */
  /* .img-home::after {
    height: 0;
    width: 0;
    border-bottom: none;
    border-right: none;
    right: 0;
    bottom: 0;
  } */

  /* Bordure top right and btn left */
  /* .img-home::before {
    height: 0;
    width: 0;
    border-top: none;
    border-left: none;
    left: 0;
    top: 0;
  } */

  .home .home-info .name {
    display: block;
  }
}

@media (max-width: 990px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .img-home {
    display: none;
  }
}

@media (max-width: 991px) {
  .portfolio-item:hover .colorResponsive {
    opacity: 1;
    color: var(--text-black-1100);
  }

  .portfolio-item:hover .dark {
    opacity: 1;
    color: var(--text-black-1100);
  }

  .portfolio-item:hover .imgOpacity {
    transform: scale(1.1);
    opacity: 0.4;
  }

  .padd-15-mix {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolio-subtitle:hover {
    color: var(--bg-black-50);
  }
}

@media (max-width: 767px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .portfolio .padd-15-mix {
    justify-content: center;
    align-items: center;
  }

  .about .about-content .personal-info .rowBtn {
    display: inline;
    text-align: center;
  }

  .Contact .contact-info-item,
  .portfolio .padd-15-mix,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
